@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    exclude: fab
}

@plugin "daisyui/theme" {
    name: "light";
    prefersdark: false;
    color-scheme: "light";
    --root-bg: oklch(95% 0.02 155);
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0.01 155);
    --color-base-300: oklch(92% 0.02 155);
    --color-base-content: oklch(22% 0.03 155);
    --color-primary: oklch(52% 0.14 155);
    --color-primary-content: oklch(98% 0.01 155);
    --color-secondary: oklch(82% 0.08 145);
    --color-secondary-content: oklch(25% 0.04 155);
    --color-accent: oklch(68% 0.16 45);
    --color-accent-content: oklch(20% 0.05 45);
    --color-neutral: oklch(28% 0.04 155);
    --color-neutral-content: oklch(94% 0.02 155);
    --color-info: oklch(75% 0.11 240);
    --color-info-content: oklch(25% 0.05 240);
    --color-success: oklch(72% 0.14 132);
    --color-success-content: oklch(22% 0.05 132);
    --color-warning: oklch(80% 0.14 85);
    --color-warning-content: oklch(25% 0.05 85);
    --color-error: oklch(70% 0.15 25);
    --color-error-content: oklch(25% 0.05 25);
    --radius-selector: 0.25rem;
    --radius-field: 1rem;
    --radius-box: 2rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    color-scheme: "dark";
    --root-bg: oklch(15% 0.02 155);
    --color-base-100: oklch(25% 0.005 155);
    --color-base-200: oklch(30% 0.005 155);
    --color-base-300: oklch(40% 0.005 155);
    --color-base-content: oklch(96% 0.002 155);
    --color-primary: oklch(64% 0.16 155);
    --color-primary-content: oklch(14% 0.05 155);
    --color-secondary: oklch(78% 0.06 145);
    --color-secondary-content: oklch(15% 0.04 145);
    --color-accent: oklch(68% 0.18 45);
    --color-accent-content: oklch(15% 0.05 45);
    --color-neutral: oklch(85% 0.02 155);
    --color-neutral-content: oklch(20% 0.04 155);
    --color-info: oklch(65% 0.12 240);
    --color-info-content: oklch(15% 0.05 240);
    --color-success: oklch(62% 0.15 132);
    --color-success-content: oklch(15% 0.05 132);
    --color-warning: oklch(75% 0.16 85);
    --color-warning-content: oklch(15% 0.05 85);
    --color-error: oklch(65% 0.16 25);
    --color-error-content: oklch(15% 0.05 25);
    --radius-selector: 0.25rem;
    --radius-field: 1rem;
    --radius-box: 2rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --color-kotlin: radial-gradient(circle at 100% 0%, #E44857 0%, #C711E1 50.45%, #7F52FF 100%);
}
