@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    --root-bg: oklch(98.462% 0.001 247.838);
}
@plugin "daisyui/theme" {
    name: "dark";
    --root-bg: oklch(0.001 0.001 0.001);
}

@theme {
    --color-kotlin: radial-gradient(circle at 100% 0%, #E44857 0%, #C711E1 50.45%, #7F52FF 100%);
}
