name: Deploy

on:
  push:
    branches:
      - main

  workflow_dispatch:

concurrency:
  group: "deploy-main"
  cancel-in-progress: true

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Query Browser Cache ID
        id: browser-cache-id
        run: echo "value=$(./gradlew -q :site:kobwebBrowserCacheId)" >> $GITHUB_OUTPUT

      - name: Cache Browser Dependencies
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.browser-cache-id.outputs.value }}

      - name: Fetch kobweb
        uses: robinraju/release-downloader@v1
        with:
          repository: varabyte/kobweb-cli
          latest: true
          fileName: "kobweb-*.zip"
          extract: true
          out-file-path: kobweb-cli

      - name: Move kobweb binary
        working-directory: kobweb-cli
        run: mv kobweb-*/* .

      - name: Run export
        working-directory: site
        run: ../kobweb-cli/bin/kobweb export --notty --layout static

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: site
          path: |
            ./wrangler.jsonc
            ./site/.kobweb/site

  deploy:
    environment:
      name: Cloudflare Workers
      url: ${{ steps.deploy.outputs.deployment-url }}

    runs-on: ubuntu-latest
    needs: export
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: site

      - name: Deploy to Cloudflare Workers
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
